<div class="post-card">
  <h3>{{title}}</h3>
  <p>{{content}}</p>
  <p>Posted by {{author.username}} on {{formatDate createdAt}}</p>
  <button onclick="location.href='/posts/{{id}}'">Read More</button>
</div>
