<div class="post-card">
    <h3><a href="/posts/{{id}}">{{title}}</a></h3>
    <p>{{content}}</p>
    <small>Posted by {{author.username}} on {{formatDate createdAt}}</small>
    {{#if isAuthor}}
        <a href="/posts/edit/{{id}}">Edit</a>
    {{/if}}
</div>
